

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: #14141F !important;
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  color: #FFF;
  font-weight: 500;
}

p {
  font-weight: 400;
  font-size: 1rem;
  color: #FFF;
  opacity: 85%;
  line-height: 35px;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section, footer {
  padding: 60px 0px;
}