.live__auction {
    color: #fff;
}

.live__auction span a{
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #5243FC;
}

.single__nft__card {
    padding: 20px;
    background: #343444;
    border-radius: 10px;

}

.nft__img img {
    border-radius: 10px;
}

.nft__img {
    margin-bottom: 15px;
}

.nft__title {
    color: #FFF;
    font-size: 1rem;
    margin-bottom: 15px;
}

.nft__title a{
    color: #FFF;
    font-size: 1rem;
    text-decoration: none;
}

.nft__title a:hover{
    color: #5243FC
}

.creator__img {
    width: 40px;
    height: 40px;
}

.creator__info h6{
    font-size: 0.8rem;
    color: #FFF;
    opacity: 80%;
    margin-bottom: 0px;
    font-weight: 300;
}

.creator__info p {
    font-size: 0.7rem;
    color:#FFF;
    opacity: 100%;
    font-weight: 500;
    margin-bottom: 0px;
}

.bid__btn .btn {
    padding: 7px 25px;
    border: 1px solid #5243FC;
    border-radius: 50px;
    transition: 0.3s;
}


.bid__btn .btn a {
    color: #FFF;
    text-decoration: none;
    font-style: 0.8rem;
    display: inline-block;
}

.bid__btn button:hover {
    background: #5243FC;
    color: #FFF;
}

.bid__btn i {
    font-size:1rem;
    color: #FFF;
}